* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

body {
    background-image: url(./assets/bg.png);
    background-size:1400px;
    background-repeat: no-repeat;
    color: white;

}

.content .food_menu{

    display: grid;
    grid-template-columns: 2fr 1fr;
}
.content .words{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.welcome{
    background-color: orange;
    width: fit-content;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 40px;
    font-size: 50px;
}

.content .words a button{
    background-color: green;
    outline: none;
    border: 0;
    width: 200px;
    height: 30px;
    border-radius:50px;
}
.content .words a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    margin-top: 50px;
     width: 200px;
    height: 30px;
    border-radius: 50px;
    text-decoration: none;
}
.content .words a i{
    margin-right: 50px;
}
.content .food_menu .photo{
    display: flex;

}
.content .food_menu .photo img{
    border-radius: 50%;
    margin-right: 10px;
}

/*category*/
.category{
    margin-top: 350px;
    background-color: pink;
    margin-right: 50px;
    margin-left: 50px;
    
    
}
.title{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
}
.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 6rem;
    align-items: center;
    display: flex;
    padding: 20px;
    margin: 20px;
    
}
.category .box-container a{
    text-decoration: none;
}
.category .box-container .box img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
    
}
.category .box-container .box h3{
    font-size: 2rem;
    margin-top: 1.5rem;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    
}
.category .box-container .box:hover{
    background-color: #fe600c;
    text-decoration: none;
    border-radius: 40px;
    
}
.category .box-container .box:hover img{
    filter: invert(1);
}
.category .box-container .box:hover h3{
    color: white;
}



@media (min-width: 768px) {
    .content .food_menu{
    text-align: center;
    padding: 20px;
  }
  .photo{
    position: absolute;
    right: 0;
    top: 250px;
  }
  .category{
    margin: 300px 20px;
  }
  .title{
    font-size: 4rem;
  }
  .category .box-container{
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .category .box-container .box img{
    height: 10rem;
  }
}

@media (max-width: 768px) {
  .content .food_menu{
    grid-template-columns: 1fr;
    text-align: center;
    padding: 20px;
  }

  .category{
    margin: 30px 15px;
  }
  .title{
    font-size: 3rem;
  }
  .category .box-container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .category .box-container .box img{
    height: 8rem;
  }


}

@media (max-width:510px) {
  
  .category{
    margin: 20px 10px;
  }
  .title{
    font-size: 2rem;
  }
  .category .box-container{
    grid-template-columns: 1fr;
    gap: 3rem;
    flex-direction: column;
  }

  .category .box-container .box img{
    height: 8rem;
  }
}
