
body{
    background-color: #f5f5f5;
    color: black;
}

.recipe_title{
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.recipe_title h2{
    background-color: yellow;
    width: max-content;
    padding: 10px;
    margin: 10px;
    font-size: 50px !important;
    font-weight: bold;
    border-radius: 20px;

}
.recipe_title p{
    background-color: green;
}
.recipes_containers{
    padding: 2rem;
}
.recipes_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
    padding: 2rem;

}
.recipes_card{
    background-color: orange;
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    cursor: pointer;
}
.recipe_card:hover{
    transform: scale(1.05);
}
.recipe_card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}
.recipe_card h3{
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
    overflow: hidden;
}

.recipes_details{
    margin-top: 2rem;
    background-color: #111;
    color: #fff;
    padding: 1rem;
    border-radius: 15px;
}

/*modal*/

.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    color: black !important;
}

.modal_content{
    background-color: orange;
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    color: black !important;
    overflow: scroll;
}
.close{
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover{
    font-size: 30px !important;
}

@media (max-width:920px) {
    .recipe_title{
        margin: 80px;
    }
    
}